:root{
    --color-dark: #FAEBE5; 
    --color-darkest:#371919;
    --color-light: #f3ebeb;
    --color-primary:#A87561;
    --color-icons: yellow;
    --color-bg-body:var(--color-darkest);

    --distance-primary:50px;
    --padding-primary:50px;
    --margin-primary:50px;
    --border-radiuse-primary: calc(var(--distance-primary)/2);

    --font-family-primary: 'Poppins', sans-serif;
    --font-weight-bold: 900;
    --font-weight-normal: 400;

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

body{
    
    background-color: var(--color-bg-body);
    font-family: var(--font-family-primary);

}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}